%section#chapter
  %h1 About

  %p
    Vic Ramon is a senior software engineer at
    = link_to 'Instacart', 'http://www.instacart.com'
    in the San Francisco. He has worked with Ember on some seriously complex projects.
  %p
    Instacart is #{link_to "hiring", "https://www.instacart.com/jobs"}, by the way. Come work with awesome people on big things!
  %p
    When he's not hacking on Ember or Ruby, Vic likes to hike, surf, and snowboard. After which he promptly returns to his computer.

  %h1 Find Me Online

  = link_to "vicramon on GitHub", "http://github.com/vicramon"
  %p

  = link_to "@vicramon on Twitter", "http://twitter.com/vicramon"
