%section#chapter
  %h1 About

  %p
    Vic Ramon is a software developer and consultant at
    = link_to 'Hashrocket', 'http://www.hashrocket.com'
    in the lovely Jacksonville Beach, Florida. He has worked with Ember on a daily basis
    for quite some time now.
