%section#chapter

  = render 'chapter_nav'

  %article#markdown
    ~ markdown text

  = render 'chapter_nav'

  #_kmts
    %script(async="async" src="//komments.net/embed/cb03b9d0-0a24-4ede-93da-10e9ca965412")
