%section#chapter
  = render 'chapter_nav'

  %article#markdown
    ~ markdown text

  = render 'chapter_nav'

  .gray_line{ style: 'margin: 0 0 25px 0' }
  .comment_info
    These comments support
    = link_to "markdown", 'http://daringfireball.net/projects/markdown/syntax'
    so you can post code.

  #_kmts
    %script(async="async" src="//komments.net/embed/cb03b9d0-0a24-4ede-93da-10e9ca965412")
